@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');

/* INCLUDE TAILWIND IMPORTS IN APP.CSS IF REQUIRED */
/* @tailwind base;
@tailwind components; 
@tailwind utilities; */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
}
